@import url("https://fonts.googleapis.com/css2?family=Gugi&display=swap");
.section-title {
  color: white;
  padding: 15px;
  width: fit-content;
  margin: 0 auto 30px;
  user-select: none;
  backdrop-filter: saturate(180%) blur(20px);
  border: 1px solid black {
    radius: 15px;
  }
  font: {
    size: 30px;
    family: "Gugi", cursive;
  }
  // Flex
  display: flex;
  gap: 20px;
  align-items: center;

  img {
    width: 40px;
  }
}
